@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/**'Share Tech Mono', monospace**/

@media screen and (max-width: 600px) {
    .card .number {
        font-size: 18px;
        text-align: center;
    }
    .card .card-title {
        font-size: 11px;
        text-align: center;
    }
    .card .date {
        font-size: 10px;
        text-align: center;
    }
    img {
        display: none;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#page-content-wrapper {
    background: #fdfdfd;
}

.wrapper {
    position: fixed;
    left: 0;
    width: 290px;
    height: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
}

.wrapper .navbar {
    position: relative;
}

.wrapper .navbar .logo_img {
    padding: 25px;
    text-align: center;
}

.wrapper .navbar .logo_img {
    padding: 25px;
    text-align: center;
}

.wrapper .navbar .logo_img img {
    width: 110px;
    margin: 0 auto 10px;
    display: block;
    margin-left: 35pt;
}

.wrapper .navbar ul {
    padding: 10px 40px;
}

.wrapper .navbar ul li a .icon {
    margin-right: 10px;
}

.wrapper .navbar ul li a>span {
    display: inline-block;
}

a.active .icon,
a:hover .icon {
    color: #F6D55C;
}

a.active .title_2,
a:hover .title_2 {
    color: #F6D55C;
    font-weight: 800;
}


/* Navaigation Sidebar */

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #fff;
    opacity: 0.9;
    transition: all .5s;
    display: flex;
    align-items: left;
}


/* About us */

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    transition: all .5s;
}

#menu-toggle {
    transition: all .3s;
    font-size: 2em;
}


/* Change the width of the sidebar to display it*/

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}


/* Sidebar styling */

#sidebar-wrapper .sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: left;
}

#sidebar .logo_img {
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
}

.sidebar-nav li {
    line-height: 30px;
    width: 100%;
    transition: all .3s;
    padding: 10px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
    margin-left: 20%;
    font-size: small;
}


/* Cards */

.flex-container {
    width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-around
}

.card {
    width: 40%;
    background: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    float: left;
    margin: 10px;
}

.container {
    padding: 20px 15px;
}

.card p1 {
    color: #149414;
    font-weight: bold;
}

.card p2 {
    color: #ff6600;
    font-weight: bold;
}

.card p3 {
    color: #A91622;
    font-weight: bold;
}


/* Footer */

.footers a {
    color: #22559c;
}

.footers p {
    color: #22559c;
}

.footers ul {
    line-height: 30px;
}

.footers {
    background-color: #ffff9d;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.symptom-tracker .header-section .title,
.dashboard .header-section .title {
    font-weight: 600;
    font-size: 30px;
}

.symptom-tracker .symptom-checker {
    margin-top: 20%;
    margin-bottom: 20%;
}


/* pre-loader */

.dot12 {
    position: relative;
}

.dot12 .dot {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}

.d1 {
    left: 0%;
    animation: dotLeft 1s ease infinite alternate;
    background-color: orange;
}

.d2 {
    left: 100%;
    animation: dotRight 1s ease infinite alternate;
    background-color: orange;
}

.d11 {
    top: 0%;
    animation: dotTop 1s ease infinite alternate;
    background-color: #fff;
}

.d21 {
    top: 100%;
    animation: dotBottom 1s ease infinite alternate;
    background-color: #fff;
}

.number {
    font-size: xx-large;
    font-weight: bolder;
}

@keyframes dotLeft {
    0% {
        left: 0%;
    }
    50% {
        background-color: #fff;
    }
    100% {
        left: calc(100% - 20px);
        background-color: #fff;
    }
}

@keyframes dotRight {
    0% {
        left: calc(100% - 20px);
    }
    50% {
        background-color: #fff;
    }
    100% {
        left: 0%;
        background-color: #fff;
    }
}

@keyframes dotTop {
    0% {
        top: 0%;
    }
    50% {
        background-color: orange;
    }
    100% {
        top: calc(100% - 20px);
        background-color: orange;
    }
}

@keyframes dotBottom {
    0% {
        top: calc(100% - 20px);
    }
    50% {
        background-color: orange;
    }
    100% {
        top: 0%;
        background-color: orange;
    }
}

.vaccine-top-green {
    background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61));
    color: white;
}

.vaccine-top-red {
    background: linear-gradient(to right, rgb(248, 80, 50), rgb(231, 56, 39));
    color: white;
}

.vaccine-top-blue {
    background: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
    color: white;
}

.vaccine-top-yellow {
    background: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
    color: white;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: medium;
    text-align: start;
}

.date {
    font-size: x-small;
    font: italic;
    text-align: start;
}

.card-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    background: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}